/* Estilos personalizados */
header {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 1px 1px 2px black;
}

section {
    padding: 60px 0;
}

.testimonial {
    background: rgb(207, 132, 132);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background: #343a40;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: none;
}

.bi {
    font-size: 2rem;
}
